<?xml version="1.0" encoding="utf-16" ?>
<Settings>
  <InfluxDB>
    <databaseName>exchange_teste</databaseName>
    <url>http://influx.domain.com.br</url>
    <userName>monitoring</userName>
    <password>c86758816</password>
    <service_type>sql_service_type</service_type>
  </InfluxDB>
  <SQLServer>
    <connectionString>Data Source=XXXX;Failover Partner=XXXX; Initial Catalog=ExchangeStatistics;Integrated Security=SSPI;</connectionString>
    <Queries>
      <Query id="1" Query="EXEC sp_getSPLAReport" Measurement="SPLAReport"/>      
      <Query id="2" Query="select * FROM [dbo].[DAGStatistics] where 'date' = CONVERT(date,GETDATE())" Measurement="XXXXX"/>                      
    </Queries>
  </SQLServer>
</Settings>
